/* hotels css start */

/* global start *********************************************************/

/* Шрифты для hotel.ru *********************************************************/


/* Hairline *********************************************************/
@font-face {
  font-family: 'Muller Hairline';
  src: url('../fonts/MullerHairline.eot');
  src: local('Muller Hairline'), local('MullerHairline'),
    url('../fonts/MullerHairline.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerHairline.woff2') format('woff2'),
    url('../fonts/MullerHairline.woff') format('woff'),
    url('../fonts/MullerHairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Thin ********************************************************/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerThin.eot');
  src: local('Muller Thin'), local('MullerThin'),
    url('../fonts/MullerThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerThin.woff2') format('woff2'),
    url('../fonts/MullerThin.woff') format('woff'),
    url('../fonts/MullerThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* UltraLight *********************************************************/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerUltraLight.eot');
  src: local('Muller UltraLight'), local('MullerUltraLight'),
    url('../fonts/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerUltraLight.woff2') format('woff2'),
    url('../fonts/MullerUltraLight.woff') format('woff'),
    url('../fonts/MullerUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Light ********************************************************/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
    url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff'),
    url('../fonts/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Regular ********************************************************/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
    url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Medium ********************************************************/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
    url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Bold ********************************************************/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
    url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ExtraBold ********************************************************/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerExtraBold.eot');
  src: local('Muller ExtraBold'), local('MullerExtraBold'),
    url('../fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerExtraBold.woff2') format('woff2'),
    url('../fonts/MullerExtraBold.woff') format('woff'),
    url('../fonts/MullerExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


/* Black ********************************************************/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBlack.eot');
  src: local('Muller Black'), local('MullerBlack'),
    url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerBlack.woff2') format('woff2'),
    url('../fonts/MullerBlack.woff') format('woff'),
    url('../fonts/MullerBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Heavy ********************************************************/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerHeavy.eot');
  src: local('Muller Heavy'), local('MullerHeavy'),
    url('../fonts/MullerHeavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerHeavy.woff2') format('woff2'),
    url('../fonts/MullerHeavy.woff') format('woff'),
    url('../fonts/MullerHeavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif;
  background-color: #F1F1F1;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2 {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #333333;
}



.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-btn {
  padding: 0%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;

}

.container {
  /* width: 1170px;
  margin: 0 auto; */
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

}



img {
  max-width: 100%;
  vertical-align: sub;
  height: auto;
}

/* global end********************************************************/

/* Header start ********************************************************/
.header {
  padding: 30px 0 70px 0;
}

.header-top {
  padding-bottom: 30px;
}

.header-top-container {
  align-items: center;
}


.header-top-logo_link {
  margin-right: auto;
}

.decor-header-top-logo_link {
  width: 261px;

}

.header-top-contact_link {
  margin-right: 540px;
}

.header-top-contact_link-text {
  width: 173px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #666666;
}


.decor-header-top-login_account-link {
  background-image: url("../img/Vector.svg");
  background-position: left center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  padding-left: 28px;
  padding-top: 3px;
}

.header-top-login_account-link-text {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #CC9933;
}

/* Navigation start ********************************************************/

.header-container-menubar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
}

.header-container {
  align-items: center;
}

.header-container-navigation-list {
  padding-left: 46px;
}

.header-container-navigation-list-item:not(:last-child) {
  padding-right: 46px;
}


.header-container-navigation-list-item-link-text {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

/* Navigation end ********************************************************/
/* Button navigation start *********************************************************/

.header-container-navigation-button {
  padding: 14px 46px 14px 107px;
}

.header-container-navigation-button_tour:not(:last-child) {
  margin-right: 40px;
}

.header-container-navigation-button {
  align-items: center;
}

.header-container-navigation-button_tour {
  margin-right: 40px;
  padding: 13px 20px;
  gap: 10px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  word-break: break-all;
}

.header-container-navigation-button_tour-text {
  font-family: 'Muller', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 67px;
  color: #CC9933;
}

.header-container-navigation-button_callback {
  padding: 13px 20px;
  gap: 10px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  word-break: break-all;
}

.header-container-navigation-button_callback-text {
  font-family: 'Muller', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 137px;
  color: #CC9933;
}

/* Button navigation end  *********************************************************/
/* header - end *********************************************************/


/* offers start ********************************************************/


.flex-all-banners {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}

.offers {
  margin-bottom: 70px;
}

.offers-title {
  padding-left: 40px;

}

.offers-list {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 24px;

}

/* Блоки баннеров start ********************************************************/

.offers-list-banner {
  width: 573px;
  min-height: 258px;
  border-radius: 16px;
  flex-grow: 1;
  padding-left: 45px;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;


}

.offers-list-banner-luxe {
  width: 573px;
  min-height: 100%;
  border-radius: 16px;
  flex-grow: 1;
  padding-left: 45px;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}

/* Блоки баннеров end ********************************************************/

/* Блоки баннеров Decoration start ********************************************************/

.decor-offers-list-banner-1 {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%), url(../img/Остров_Мальдивы.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 24px;
  word-break: break-all;
}


.decor-offers-list-banner-2 {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%), url(../img/Остров_Крит.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  word-break: break-all;
}

.decor-offers-list-banner-luxe-1 {
  background-image: url(../img/Номер_люкс.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  word-break: break-all;
}

/* Блоки баннеров Decoration *********************************************************/

/* style text start ********************************************************/

/* style text lite ********************************************************/

.offers-list-banner-block_text-title {

  margin-top: 36px;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;

}

.offers-list-banner-block_text-price {

  display: block;
  margin-top: 8px;
  margin-bottom: auto;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  opacity: 0.8;

}


.offers-list-banner-block_text-link {
  margin-bottom: 40px;
}

.offers-list-banner-block_text-detailed_link {
  align-items: center;
  width: 110px;
}

.offers-list-banner-block_text-detailed_link-text {

  margin-right: 6px;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #F0BF5F;
}

/* style link end ********************************************************/


/* style text luxe ********************************************************/

.offers-list-banner-luxe-block_text-title {

  margin-top: 200px;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;

}

.offers-list-banner-luxe-block_text-price {

  display: block;
  /* margin-top: 8px; */
  margin-bottom: auto;

  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
  opacity: 0.8;

}

.offers-list-banner-luxe-block_text-link {
  margin-bottom: 40px;
}

/* style text end ********************************************************/
/* offers end *********************************************************/


/* about us start *********************************************************/

.about-us {
  margin-bottom: 70px;
}

.about-us-title {

  padding-left: 40px;
}

.about-us-description {

  margin-top: 20px;

  width: 888px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  text-align: left;
  color: #000000;

}

/* about us end *********************************************************/


.section-title {

  margin: 0;
}


/* services start *********************************************************/

.services-title {
  padding-left: 40px;
  padding-bottom: 20px;
}

.services-list {

  flex-wrap: wrap;

  /* width: 573px; */



}

.services-list-item {

  min-height: 330px;
  width: 573px;
  margin-bottom: 24px;
  border-radius: 16px;
  background-color: #FFFFFF;
  padding-left: 45px;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;




  /* outline: 1px solid #E4E4E4; */
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 24px;
}




.services-list-item-title_link {

  width: fit-content;
  display: flex;
  align-content: space-between;
  align-items: center;


}

.services-list-item-title_link-text {
  margin-right: 6px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
}

.services-svg {

  margin-bottom: 0.4px;

}


.services-list-item-description {
  margin-bottom: 35px;

  width: 388px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}



.decor-services-list-item-1 {
  background-image: url(../img/Услуги_1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.decor-services-list-item-2 {
  background-image: url(../img/Услуги_2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.decor-services-list-item-3 {
  background-image: url(../img/Услуги_3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.decor-services-list-item-4 {
  background-image: url(../img/Услуги_4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}





/* services end *********************************************************/



.services {
  margin-bottom: 70px;
}



.advantages {
  margin-bottom: 70px;
}



.location {
  margin-bottom: 70px;
}



.search-tour-background {
  margin-bottom: 70px;
  background-color: #E9E9E9;
  border-radius: 15px;
}



.search-tour-bar {
  background-color: white;
  border-radius: 15px;
}



.contacts {
  margin-bottom: 40px;
}


.footer {
  margin-bottom: 30px;
}
